@keyframes Slide {
    from {
        left: 0;
    }
to { left: 100%}
}
#emoji {
    position: absolute;
    top: 50;
    left: 0;
    transform: translateY(-50%);
    animation: Grow 1s, Slide 3s;
    animation-iteration-count: infinite;
}